@charset "UTF-8";

*{
  margin: 0px;
}

#title{
  background-color: #6cc5ed;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 3%;
  padding-bottom: 5px;
}
#hidari{
  float: left;
  width: 67%;
  padding-left: 3%;
}
#migi{
  float: right;
  width: 30%;
}

#banner{
  max-width: 200px;
}

#seal{
  max-width: 200px;
}

img{
  width: 50%;
}