@charset "UTF-8";

#title{
  margin-bottom: 20px;
}
#hidari{
  float: left;
  width: 70%;
}
#migi{
  float: right;
  width: 30%;
}

#banner{
  max-width: 200px;
}

#seal{
  max-width: 200px;
}

img{
  width: 50%;
}